@import "../../../Styles/variable.scss";

.component-waper{
  width: 100%;
  position: relative;
  .wapper-banner{
    position: relative;
    display: flex;
    .player{
      width: 100%;
      height: 100%;
    }
  }

  .content-left{
    padding: 100px;
    justify-content: flex-start;
    .poster-content{
      justify-content: center;
      height: auto;
      position: relative;
      padding: 0;
      text-align: left;
    }
  }
}