@import "../../../Styles/variable.scss";

.component-waper{
  width: 100%;
  position: relative;
  .wapper-banner{
    position: relative;
    display: flex;
    .player{
      width: 100%;
      height: 100%;
    }
  }

  .content-left{
    padding: 100px;
    justify-content: flex-start;
    position: absolute;
    top:25%;
    .poster-content{
      justify-content: center;
      height: auto;
      padding: 0;
      text-align: left;
      .title{
        text-transform: uppercase;
        color: $bs-white;
        font-size: 4rem;
        font-weight: 600;
        line-height: 32px;
        margin: 0 0 10px ;
        text-align: left;
      }
      .summary{
        color: $bs-white;
        font-size: 2rem;
        line-height: 24px;
      }

      .button{
        margin: 15px 0;
        
        &-item{
          background-color: $bs-white;
          width: 190px;
          padding: 13px 0;
          display: flex;
          align-items: center;
          
           &__link{
            margin: 0 15px;
            text-decoration: none;
            font-size: 1.6rem;
            color: $bs-black;
            text-transform: uppercase;
            font-weight: 500;
            
            &::before{
              content: "";
              border-bottom: 1px solid $bs-white;
              border-left: 1px solid $bs-white;
              bottom: -3px;
              height: 3px;
              left: 3px;
              width: 100%;
            }

            &::after{
              content: "";
              border-right: 1px solid$bs-white;
              border-top: 1px solid $bs-white ;
              height: 100%;
              right: -3px;
              top: 3px;
              width: 3px;
            }
          }

          & i{
            font-size: 2rem;
            margin-left: 5px;
          }

          
        }

       
      }
    }
  }
}