@import '../../../Styles/variable.scss';

.page-man__menu {
  margin: 60px 0;

  .menu__title h2 {
    margin-bottom: 10px;
  }

  .menu__wrap {
    background: #e9ecef;
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin-bottom: 0;
      & li{
        list-style: none;
        padding: 20px 0;
        & a{
          font-size: 1.6rem;
          color: var(--black-color);
          text-decoration: none;
          margin: 0 20px;
          // font-weight: 500;
          :hover{
            opacity: 0.6;
          }
        }
      }
    }
  }
}